<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.rebo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/rebo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/rebo_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon"
        >
        <activity android:name=".MainActivity"
            android:label="Online">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityDetail"
            android:label="Chi tiet sach"
            android:theme="@style/AppTheme.SliderActivity">
        </activity>
        <activity android:name=".ReadComic"/>
        <activity android:name=".ReadBook"/>
        <activity android:name=".xem_tat_ca"
            android:label="@string/sach_moi_nhat"
            >
        </activity>
        <activity android:name=".Sach_cua_tui"
            android:label="Sách của tui">
            </activity>
        <activity android:name=".Sach_tui_thich"
            android:label="Sách tui thích">
        </activity>
    </application>

</manifest>